<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h2>Welcome, {{ hospital_name }}</h2>

    <a href="/pregnant_women" class="button">View Pregnant Women</a>
    <a href="/custom_reminder" class="button">Send Custom Reminder</a>
    <a href="/risk_assessment" class="button">Submit Risk Assessment</a>
    <a href="/delivery_report" class="button">Delivery Report</a>
    <a href="/plotly_graphs" class="button">View Risk Graphs</a>
    <a href="/custom_message" class="button">Send Custom Message</a>
    <a href="/logout" class="button">Logout</a>
</div>
</body>
</html>
